@inherits LayoutComponentBase
@using Craftly.Beer_Blazor.ComponentClasses;
@using Beernet_Lib.Models;
dasfdf
<div class="container-fluid body-content">
    <div class="bodywrapper">

        @Body
    </div>

</div>

