<nav class="main-menu">
    <ul>
        <li>
            <a href="">
                <img src="/images/hop.png" style="width: 50px; height:50px; padding:4px;">
                <span class="nav-text" style="padding-top:17px;Padding-left:7px;">
                    <h3>Craftly.Beer</h3>
                </span>
            </a>

        </li>
        <li>
            <a onclick="openNewRecipe(this)">
                <i class="fa fa-plus-circle fa-2x"></i>
                <span class="nav-text">
                    New Recipe
                </span>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-bar-chart-o fa-2x"></i>
                <span class="nav-text">
                    Dashboard
                </span>
            </a>

        </li>
        <li class="has-subnav">
            <a onclick="viewRecipes(this)">
                <i class="fa fa-list fa-2x"></i>
                <span class="nav-text">
                    Recipes
                </span>
            </a>

        </li>
        <li class="has-subnav">
            <a href="">
                <i class="fa fa-clipboard fa-2x"></i>
                <span class="nav-text">
                    Brew Logs
                </span>
            </a>

        </li>
        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-folder-open fa-2x"></i>
                <span class="nav-text">
                    Account
                </span>
            </a>

        </li>
        <li>
            <a href="">
                <i class="fa fa-cogs fa-2x"></i>
                <span class="nav-text">
                    Admin
                </span>
            </a>
        </li>
    </ul>

    <ul class="logout">
        <li>
            <a href="">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>
    </ul>
</nav>