@{
    ViewBag.Title = "Beernet Brew Forge";
}
@using NonFactors.Mvc.Grid;
@using Beernet_Lib.Models;
@using Microsoft.AspNetCore.Http;
@using Beernet_Lib;
@using Brewforge.Models;
<div id="header">
    <!--&nbsp;Select a recipe...-->
    @model RecipeSelectorViewModel
    <br />
    <br />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
</div>
<div id="toolbar" class="btn-group">
    
</div>

<div style="height:100%">
    <h3 style="color:white">Select a Recipe</h3> <br />

    <button onclick="openNewRecipe(this)">New Recipe</button>

    @Html.Partial("~/Views/Shared/RecipeGrid.cshtml", new RecipeGridModel { recipes = Model.allRecipes, selectedRecipe = Model.selectedRecipe, selectedRecipeIndex = Model.selectedRecipeIndex });
</div>


    