@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
/*
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

.main .top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
}

.main .top-row > a {
    margin-left: 1.5rem;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.sidebar .top-row {
    background-color: rgba(0,0,0,0.4);
}

.sidebar .navbar-brand {
    font-size: 1.1rem;
}

.sidebar .oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
*/
/* table header style */
.table-striped thead tr {
    background-color: #d8d7d7;
}

/* selected row style */
.table-striped tbody .highlight td {
    background-color: #b5b5b5;
}

html {
    height: 100%;
}

.selectRecipeForm {
    height: 100%;
}

* {
    font-family: 'Lato', sans-serif;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
}

.recipe-Editor-body-content {
    padding-left: 60px;
    padding-right: 10px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    /*max-width: 280px;*/
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
/*.carousel-inner .item img[src$=".svg"] {
  width: 100%;
}*/

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.grid {
    margin: 0 0 10px 0;
}

.widgetItem {
    background: #ababab;
    border-radius: 5px;
}

.infogrid {
    margin: 0 0 5px 0;
}

.grid:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
}

[class*='col-'] {
    float: left;
    padding-right: 20px;
}

.grid [class*='col-']:last-of-type {
    padding-right: 0;
}

.col-2-3 {
    width: 66.66%;
    height: 100%;
}

.col-1-3 {
    width: 33.33%;
    height: 100%;
}

.col-1-2 {
    width: 50%;
    height: 100%;
}

.col-1-4 {
    width: 25%;
    height: 100%;
}

.col-3-4 {
    width: 74%;
    height: 100%;
}

.col-7-8 {
    width: 87.5%;
    height: 100%;
}

.col-1-8 {
    width: 12.5%;
    height: 100%;
}

.module {
    padding: 20px;
    background: #eee;
    border-radius: 5px;
}

.sideBar {
    min-height: 100% !important;
    height: 100%;
    background: #a7a7a7;
}

.widgetControlTextbox {
    width: 100%;
}

/* Opt-in outside padding */
.grid-pad {
    padding: 20px 0 20px 20px;
}

    .grid-pad [class*='col-']:last-of-type {
        padding-right: 20px;
    }

.body-content {
    height: 100%;
}

body {
    height: 100%;
    padding: 10px 50px 200px;
    background-color: #767676;
    /*background: url(https://s.cdpn.io/3/dark_wall_@2X.png);*/
    /*background-size: 300px 300px;*/
}

.header {
    background-color: cadetblue;
    width: 40%;
}

h1 {
    color: white;
}

    h1 em {
        color: #666;
        font-size: 16px;
    }

.hopListItem {
    display: block;
    padding: 7px;
    height: auto;
    border-radius: 5px;
    background-color: #dfdfdf;
    box-shadow: 0px 4px #90dd8d;
}

.inverseModule {
    padding: 20px;
    background-color: #dfdfdf;
    border-radius: 5px;
}

    .inverseModule:hover {
        background-color: #cccccc;
    }

.hopListItemSelected {
    display: block;
    padding: 7px;
    height: auto;
    background-color: #c7c7c7;
    border-radius: 5px;
    box-shadow: 0px 4px #75d072;
}

.editorListItem {
    display: block;
    height: 20px;
}

.hopListItem:hover {
    background-color: #d2d2d2;
    display: block;
    height: auto;
    box-shadow: 0px 4px #8cdf89;
}

.selectorWidget {
    height: 100%;
    overflow-y: scroll;
}

.recipeWindow {
    overflow-y: scroll;
}

.recipeWindowHeader {
    height: auto;
}

.statTop {
    height: 30px;
    font-size: 18px;
}

.statLabelText {
    color: forestgreen;
}

.statLabelTextBad {
    color: darkred;
}

.statwidgetBad {
    box-shadow: 0px 4px darkred;
}

.statBottom {
    height: 40px;
    font-size: 18px;
}

.miniStatWidget {
    display: inline-block;
    width: 18.6%;
    height: 20%;
    border-radius: 4px;
    background-color: #eee;
    margin: 1px;
    padding: 2px;
    text-align: center;
    box-shadow: 0px 4px green;
    /*border-bottom: double;
    border-bottom-color: black;*/
}

.miniStatTop {
    height: 30px;
    font-size: 10px;
}

.miniStatBottom {
    height: 20px;
    font-size: 18px;
    color: forestgreen;
}

.statSection {
    display: block;
    padding: 7px;
    height: auto;
    border-radius: 4px;
    background-color: #dfdfdf;
}

.recipeEditorWidget {
    min-width: 400px;
    height: 400px !important;
    height: 25%;
    box-shadow: 0px 4px green;
}

.recipeSelector {
    height: 90%;
    min-width: 1000px;
    margin: 20px;
    box-shadow: 0px 4px green;
}

.editorWidget {
    height: 70%;
    overflow: scroll;
}

button {
    background: #1AAB8A;
    color: #fff;
    border: none;
    position: relative;
    height: 60px;
    font-size: 1.2em;
    padding: 0 .6em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

    button:hover {
        background: #fff;
        color: #1AAB8A;
    }

    button:before, button:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 2px;
        width: 0;
        background: #1AAB8A;
        transition: 400ms ease all;
    }

    button:after {
        right: inherit;
        top: inherit;
        left: 0;
        bottom: 0;
    }

    button:hover:before, button:hover:after {
        width: 100%;
        transition: 800ms ease all;
    }

.ingredientUnit {
    font-size: 9px;
}

.ingredientUnitParent {
    text-align: center;
}

.displayRecipeGrid-1-2 {
    height: 520px;
}

.dashboardBody {
    padding-left: 30px;
}

.ingredientManagerWidget {
    min-width: 400px;
    height: 600px !important;
    height: 25%;
    box-shadow: 0px 4px green;
}

.ingredientEditorWidget {
    height: 80%;
}

/****
second navigation stuff
**/

body {
    /*background: #ffea92;*/
    margin: 0;
    font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
    /*color: #fff;*/
    /*padding-left: 240px;*/
    min-width: 120em;
}

main {
    position: relative;
    height: 100vh;
}

    main .helper {
        background: rgba(0, 0, 0, 0.2);
        color: #ffea92;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        padding: 1.2em 2em;
        text-align: center;
        border-radius: 20px;
        font-size: 2em;
        font-weight: bold;
    }

        main .helper span {
            color: rgba(0, 0, 0, 0.2);
            font-size: 0.4em;
            display: block;
        }

.menu {
    background: #5bc995;
    height: 100vh;
    width: 240px;
    position: fixed;
    top: 0;
    left: 60px;
    z-index: 5;
    outline: none;
}

    .menu .avatar {
        background: rgba(0, 0, 0, 0.1);
        padding: 2em 0.5em;
        text-align: center;
    }

        .menu .avatar img {
            width: 100px;
            border-radius: 50%;
            overflow: hidden;
            border: 4px solid #ffea92;
            box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
        }

        .menu .avatar h2 {
            font-weight: normal;
            margin-bottom: 0;
        }

    .menu ul {
        list-style: none;
        padding: 0.5em 0;
        margin: 0;
    }

        .menu ul li {
            padding: 0.5em 1em 0.5em 3em;
            font-size: 0.95em;
            font-weight: regular;
            background-repeat: no-repeat;
            background-position: left 15px center;
            background-size: auto 20px;
            transition: all 0.15s linear;
            cursor: pointer;
            border-radius: 4px;
            margin: 2px;
        }

            .menu ul li.icon-dashboard {
                background-image: url("http://www.entypo.com/images//gauge.svg");
            }

            .menu ul li.icon-customers {
                background-image: url("http://www.entypo.com/images//briefcase.svg");
            }

            .menu ul li.icon-users {
                background-image: url("http://www.entypo.com/images//users.svg");
            }

            .menu ul li.icon-settings {
                background-image: url("http://www.entypo.com/images//tools.svg");
            }

            .menu ul li:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }

            .menu ul li:focus {
                outline: none;
            }

@media screen and (max-width: 900px) and (min-width: 400px) {
    body {
        padding-left: 90px;
    }

    .menu {
        width: 90px;
    }

        .menu .avatar {
            padding: 0.5em;
            position: relative;
        }

            .menu .avatar img {
                width: 60px;
            }

            .menu .avatar h2 {
                opacity: 0;
                position: absolute;
                top: 50%;
                left: 100px;
                margin: 0;
                min-width: 200px;
                border-radius: 4px;
                background: rgba(0, 0, 0, 0.4);
                transform: translate3d(-20px, -50%, 0);
                transition: all 0.15s ease-in-out;
            }

            .menu .avatar:hover h2 {
                opacity: 1;
                transform: translate3d(0px, -50%, 0);
            }

        .menu ul li {
            height: 60px;
            background-position: center center;
            background-size: 30px auto;
            position: relative;
        }

            .menu ul li span {
                opacity: 0;
                position: absolute;
                background: rgba(0, 0, 0, 0.5);
                padding: 0.2em 0.5em;
                border-radius: 4px;
                top: 50%;
                left: 80px;
                transform: translate3d(-15px, -50%, 0);
                transition: all 0.15s ease-in-out;
            }

                .menu ul li span:before {
                    content: '';
                    width: 0;
                    height: 0;
                    position: absolute;
                    top: 50%;
                    left: -5px;
                    border-top: 5px solid transparent;
                    border-bottom: 5px solid transparent;
                    border-right: 5px solid rgba(0, 0, 0, 0.5);
                    transform: translateY(-50%);
                }

            .menu ul li:hover span {
                opacity: 1;
                transform: translate3d(0px, -50%, 0);
            }
}

@media screen and (max-width: 400px) {
    body {
        padding-left: 0;
    }

    .menu {
        width: 230px;
        box-shadow: 0 0 0 100em rgba(0, 0, 0, 0);
        transform: translate3d(-230px, 0, 0);
        transition: all 0.3s ease-in-out;
    }

        .menu .smartphone-menu-trigger {
            width: 40px;
            height: 40px;
            position: absolute;
            left: 100%;
            background: #5bc995;
        }

            .menu .smartphone-menu-trigger:before,
            .menu .smartphone-menu-trigger:after {
                content: '';
                width: 50%;
                height: 2px;
                background: #fff;
                border-radius: 10px;
                position: absolute;
                top: 45%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
            }

            .menu .smartphone-menu-trigger:after {
                top: 55%;
                transform: translate3d(-50%, -50%, 0);
            }

        .menu ul li {
            padding: 1em 1em 1em 3em;
            font-size: 1.2em;
        }

        .menu:focus {
            transform: translate3d(0, 0, 0);
            box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.6);
        }

            .menu:focus .smartphone-menu-trigger {
                pointer-events: none;
            }
}

.currentMenuSelection {
    background-color: rgba(0, 0, 0, 0.1);
}

/**  STYLE 11 */
-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
    border: 1px solid #ccc;
}

-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(left, #fff, #e4e4e4);
    border: 1px solid #aaa;
}

    -webkit-scrollbar-thumb:hover {
        background: #fff;
    }

    -webkit-scrollbar-thumb:active {
        background: linear-gradient(left, #22ADD4, #1E98BA);
    }

.currentlyBrewing {
    min-width: 20em;
    display: block;
}

.editorBody {
    padding-left: 230px;
}

.bodywrapper {
    padding-left: 10px;
}

.statWidget {
    display: inline-block;
    /*width: 17.3%;*/
    min-width: 11.3em;
    height: 40%;
    border-radius: 4px;
    background-color: #dfdfdf;
    margin: 15px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 4px green;
}

.statsWidget {
}

.statsWidgetSection {
    min-width: 15em;
}

.editorLabel {
    white-space: nowrap;
}