@using Craftly.Beer_Blazor.ComponentClasses;
@using Beernet_Lib.Models;
@page "/"
@{
    if(RecipeHelper.isLoggedIn)
    {
    <MainNav refreshParent=@refresh/>
    }
}
<div class="container-fluid body-content">
    <div class="bodywrapper">
        @{
            if (RecipeHelper.isLoggedIn)
            {
                if (recipes == null)
                {

                    <p><em>Loading...</em></p>
                }
                else
                {
                    <Craftly.Beer_Blazor.Shared.EditorWidgets.RecipeSelectorWidget Model=@Model recipes=@recipes> </Craftly.Beer_Blazor.Shared.EditorWidgets.RecipeSelectorWidget>
                }
            }
            else
            {
                <Craftly.Beer_Blazor.Pages.Login refreshParent=@refresh> </Craftly.Beer_Blazor.Pages.Login>
            }


        }
    </div>

</div>
@code
{
    public static recipe Model = RecipeHelper.initializeBlankRecipe();
    public static List<recipe> recipes = new List<recipe>();

    protected override async Task OnInitializedAsync()
    {
        if (RecipeHelper.isLoggedIn)
        {
            recipes = await RecipeHelper.GetRecipes();
        }
    }

    public async void refresh()
    {
        if (RecipeHelper.isLoggedIn)
        {
            recipes = await RecipeHelper.GetRecipes();
        }
        StateHasChanged();
    }
}
