@page "/Login"
@using Craftly.Beer_Blazor.ComponentClasses;
@using Beernet_Lib.Models;
@inherits Craftly.Beer_Blazor.ComponentClasses.LoginComponent;
@using Microsoft.AspNetCore.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore
@*@layout LoginLayout*@

<div id="header">
    <br />
    <br />
</div>
<div id="toolbar" class="btn-group">

</div>
<div>
    <h1 style="text-align:center; vertical-align:central;margin: auto;">Craftly.Beer</h1>
    <br />
    <br />
    <div class="module" style="width:200px; text-align:center; vertical-align:central;margin: auto;">
        <img src="/images/hop.png" style="width: 200px; height:200px; padding-right:10px;margin-left:-10px">
        <!--<h3>Create, Brew, Enjoy!</h3>-->
    </div>
    <br />
    <div class="module" style="width:200px; text-align:center; vertical-align:central;margin: auto;">

        <div>
            <label>Username:</label> <br />
            <RadzenTextBox Style="margin-bottom: 20px" Change="@(args => ChangeUsername(args))" />
        </div>
        <div>
            <label>Password:</label><br />
            <RadzenPassword Placeholder="Enter password..." Change="@(args => ChangePassword(args))" Style="margin-bottom: 20px" />
        </div>
        <div>
            <br />
            <RadzenButton Click="@((args) => Login())" Text="Login" Style="margin-bottom: 20px; width: 150px" />
        </div>

        @if (isError)
        {
            <div style="color:red;">@ErrorMessage</div>
        }
    </div>
</div>