@{
    ViewBag.Title = "Beernet Brew Forge";
}
@using NonFactors.Mvc.Grid;
@using Beernet_Lib.Models;
@using Microsoft.AspNetCore.Http;
@using Beernet_Lib;
@using Brewforge.Models;
<div id="header">
    <!--&nbsp;Select a recipe...-->
    @model LoginViewModel
    <br />
    <br />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
</div>
<div id="toolbar" class="btn-group">

</div>
<div>
    <h1 style="text-align:center; vertical-align:central;margin: auto;">Craftly.Beer</h1>
    <br />
    <br />
    <div class="module" style="width:200px; text-align:center; vertical-align:central;margin: auto;">
        <h3>Create, Brew, Enjoy!</h3>
    </div>
    <br />
    <div class="module" style="width:200px; text-align:center; vertical-align:central;margin: auto;">
        @using (Html.BeginForm("Login", "Login", FormMethod.Get, new { returnModel = Model }))
        {
            <div>
                <label>Username:</label> <br />
                @Html.TextBoxFor(m => Model.username, new { })
            </div>
            <div>
                <label>Password:</label><br />
                @Html.TextBoxFor(m => Model.password, new { type = "password" })
            </div>
            <div>
                <br />
                <button type="submit" value="Login" style="padding-left:60px;padding-right:60px; padding-top:10px; padding-bottom:10px;">Login</button>
            </div>

            if (!String.IsNullOrEmpty(@Model.errorMessage))
            {
                <div style="color:red;">@Model.errorMessage</div>
            }
        }
    </div>
</div>
